# eReviews .gitinore
reports
screenshots
tests/credentials.json
UI/config/db.js
UI/node_modules


# Basic .gitinore
npm-debug.log
nohup.out
selenium-debug.log
node_modules/
.DS_Store

# exclued selenium.jar from GitHub it's 21MB!
nightwatch
nightwatch/selenium.jar

# exclude chromedriver as its 12MB and changes frequently!
nightwatch/chromedriver

